<!DOCTYPE html>
<html lang="en" ng-app="skillenza">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords"
          content="">
    <meta name="description" content="">
    <title>Skillenza</title>
    <link rel="shortcut icon" type="image/x-icon" href="/src/assets/blue-icon.png"/>
    <!-- build:css vendor.min.css -->
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="node_modules/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="src/app.css"/>
    <link rel="stylesheet" href="src/styles/css/app.css">
    <!-- endbuild -->
    <!-- build:js vendor.min.js -->
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="node_modules/angular-route/angular-route.min.js"></script>
    <script src="node_modules/jquery/dist/jquery.min.js"></script>
    <script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="src/scripts/config/config.js"></script>
    <script src="src/scripts/app.js"></script>
    <script src="src/scripts/appJQ.js"></script>
    <!-- endbuild -->
</head>
<body ng-controller="myCtrl">
<div class="col-lg-12 no-padding">
    <div class="navbar-div">
        <img src="./src/assets/logo-navbar.png" alt="" class="icon-navbar">
    </div>
</div>
<div class="col-lg-12">
    <div class="row">
        <div class="header-bg">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding hidden-xs">
                        <div class="header-div1">
                            <div class="header-text-wrapper">
                                <i class="fa fa-clock-o"></i>
                                <h3>Begins</h3>
                                <h4>30 Aug 2017 - 10:00 am</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding">
                        <div class="header-div2 relative">
                            <i class="fa fa-chevron-circle-down"></i>
                            <div class="header-text-wrapper text-center">
                                <div class="text-center logo-wrapper">
                                    <img src="./src/assets/blue-icon.png" alt="" class="icon blue">
                                    <img src="./src/assets/white_icon.png" alt="" class="icon">
                                </div>
                                <h1 class="heading text-center">Data Science challenge</h1>
                                <h3 class="no-margin">Wisdom comes from Hacking!</h3>
                                <h5 class="">August 30th, 2017</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 no-padding hidden-xs">
                        <div class="header-div3">
                            <div class="header-text-wrapper">
                                <i class="fa fa-clock-o"></i>
                                <h3>Ends</h3>
                                <h4>3 Sep 2017 - 05:00 pm</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-lg-12">
    <div class="row">
        <div class="section section-1">
            <div class="container">
                <div class="col-lg-12">
                    <h3 class="section-header">ANNUAL FLAGSHIP MACHINE LEARNING HACKATHON</h3>
                    <p>
                        The idea is to help college students get their feet wet into Machine Learning topics.

                        As you are aware, humanity generates huge amounts of data. A total of 2.5 Quintillion bytes per
                        day! If our math's correct, that works out to about 30 terabytes every second give or take!
                        That’s huuuuuuuuuuuuuuuuuuuuuuuuuge!!!!!!!!!!!
                    </p>
                    <p>
                        But how do you aim to make sense of all this data? One way is machine learning. And that’s where
                        you come in. It doesn’t matter if you have no experience in this domain. After all, some of the
                        best discoveries are done by noobs!
                    </p>
                    <p>
                        For about 86400 seconds (that's 24 hours for you) of hacking, we invite college students all
                        throughout India to come and hack at Banyon Hacks! Give wings to your deep-rooted ideas and show
                        them off to the world!
                    </p>
                </div>
            </div>
        </div>

        <div class="section section-2">
            <div class="container">
                <div class="col-lg-12">
                    <h3 class="section-header">TRACKS</h3>
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" ng-repeat="track in tracks">
                            <div class="card">
                                <h3>{{track.title}}</h3>
                                <p>{{track.description}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-3">
            <div class="container">
                <div class="col-lg-12">
                    <div class="row">
                        <h3 class="section-header text-center">HOW IT WORKS</h3>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-2 col-lg-push-1 col-md-2 col-md-push-1 col-sm-4 col-xs-12"
                                     ng-repeat="work in works">
                                    <div class="working text-center">
                                        <div class="working-block">
                                            <i class="fa {{work.icon}}"></i>
                                            <h4 class="text-center work-title">{{work.title}}</h4>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-4">
            <div class="container">
                <div class="col-lg-12">
                    <div class="row">
                        <h3 class="section-header text-center">ORGANIZER(S)</h3>
                        <div class="col-lg-12">
                            <div class="row">
                                <div class="card organizers">
                                    <div class="col-lg-12">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12 text-center">
                                                <div class="organizer-logo-wrapper">
                                                    <img src="/src/assets/white_icon.png" alt="" class="organizer-logo">
                                                </div>
                                            </div>
                                            <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12 text-center">
                                                <h5 class="organizer-info">
                                                    Skillenza is a peer learning and challenge platform where
                                                    companies can discover top talent through challenges. Our challenges
                                                    are real world projects that would help candidates showcase their
                                                    job skills to prospective employers and build credibility into their
                                                    profiles. Our hiring partners range from established companies like
                                                    Amazon, Dell and Oracle to startups like Olacabs, Housing and
                                                    Stayzilla.
                                                </h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-5">
            <div class="container">
                <div class="col-lg-12">
                    <div class="row">
                        <!--<h3 class="section-header text-center">ORGANIZER(S)</h3>-->
                        <div class="col-lg-12 no-padding">
                            <div class="row">

                                <div class="col-lg-8">
                                    <div class="card">
                                        <div class="panel-group" ng-repeat="faq in faqs">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title">
                                                        <a data-toggle="collapse" ng-href="#collapse{{$index}}">
                                                            {{faq.question}}
                                                            <i class="fa fa-chevron-circle-down pull-right"></i>
                                                            <!--<i class="fa fa-chevron-circle-up pull-right" ng-show="isOpen==$index"></i>-->
                                                        </a>
                                                    </h4>
                                                </div>
                                                <div id="collapse{{$index}}" class="panel-collapse collapse">
                                                    <div class="panel-body">{{faq.answer}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4">
                                    <div class="card faq">
                                        <h3>FAQ</h3>
                                        <p>
                                            Under the FAQ section, you will find answers to the most commonly asked
                                            questions about our challenges. If you have any questions apart from the
                                            ones listed on the right, contact us at <a href="mailto:help@venturesity.com" target="_top">help@venturesity.com</a>
                                        </p>
                                    </div>
                                    <div class="social card">
                                        <!--<h3 class="social-text text-center">WE ARE SOCIAL</h3>-->
                                        <div class="social-icons text-center">
                                            <i class="fa fa-facebook"></i>
                                            <i class="fa fa-twitter"></i>
                                            <i class="fa fa-google-plus"></i>
                                            <i class="fa fa-youtube"></i>
                                        </div>
                                    </div>
                                    <div class="social card">
                                        <h3 class="contact-text text-center">CONTACT</h3>
                                        <div class="contact">
                                            <h4><i class="fa fa-map-marker"> 2nd Floor, 514/A, CMH Rd, Indiranagar, Bengaluru KA 560038</i></h4>
                                            <h4><i class="fa fa-phone"> 080 - 41202465</i></h4>
                                            <h4><i class="fa fa-envelope"> support@venturesity.com</i></h4>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section section-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31105.357997687457!2d77.6281299!3d12.9609874!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae14053d832a8b%3A0x81127c230a6a533e!2sNASSCOM+Startup+Warehouse!5e0!3m2!1sen!2sin!4v1502866878346"
                    frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <!--<div class="section-2">-->
        <!--<div class="container">-->
        <!--<div class="col-lg-12">-->
        <!--<div class="row">-->
        <!--<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">-->
        <!--<div class="card">-->
        <!--<h3>Data Visualization</h3>-->
        <!--<p>-->
        <!--Discover, model and visualize interesting relationships among attributes of any-->
        <!--dataset of your choice. Examples of cool data sets to explore visually are census-->
        <!--data, earthquake data, Environ emails etc.-->
        <!--</p>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->

    </div>
</div>
</body>
</html>